<!DOCTYPE html>
<html>

<head>
    <title>SigDict</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" th:href=@{/css/w3.css}>
</head>


<body class="w3-light-grey">

<!-- container -->
<div class="w3-content" style="max-width:500px">
    <!-- Header -->
    <div class="w3-container w3-center w3-padding-48">
        <h1><b>Welcome to <a href="/index.html">SigDict</a></b></h1>
        <p>A modern solution for managing <span class="w3-tag"><b>digital signature</b></span></p>
    </div>
</div>

<!-- container -->
<div class="w3-content" style="max-width:800px">

    <div class="w3-row-padding">

        <div class="w3-col m12 l6 w3-margin-bottom">
            <div class="w3-card-4 w3-padding-24 w3-white w3-container">
                <div class="w3-container">
                    <h3><b>What is SigDict?</b></h3>
                    <h5>LLipter, <span class="w3-opacity">December 23, 2019</span></h5>
                </div>

                <div class="w3-container">
                    <p>
                        <b>SigDict</b> stands for <b>sig</b>nature <b>dict</b>ionary
                    </p>
                    <p>
                        It's an application that helps people
                        generate, store, manage, and share their files' digital signature.
                    </p>
                    <p>
                        It provides reliable services that improve security with no additional cost.
                    </p>
                    <p>
                        It's advanced, convenient, and most importantly, <b>completely free of charge</b>.
                    </p>
                    <p>
                        If you have any questions, feel free to contact us at <i>llipter@foxmail.com</i>.
                        It's our pleasure to address your concerns. We will get back to you as soon as we can.
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-col m12 l6">
            <div class="w3-card-4 w3-padding-24 w3-white w3-container">
                <div class="w3-container">
                    <h3>
                        <b th:if="${has_signed_in}">Hi, <span th:text="${username}"></span> !</b>
                        <b th:unless="${has_signed_in}">JOIN US NOW!</b>
                    </h3>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-container w3-half w3-center">
                        <button class="w3-button w3-border" onclick="window.location.href='/main.html';"
                                th:if="${has_signed_in}">
                            <b>MY ACCOUNT »</b>
                        </button>
                        <button class="w3-button w3-border" onclick="window.location.href='/login.html';"
                                th:unless="${has_signed_in}">
                            <b>SIGN IN »</b>
                        </button>
                    </div>
                    <div class="w3-container w3-half w3-center">
                        <form method="post" th:action="@{/logout}" th:if="${has_signed_in}">
                            <button class="w3-button w3-border">
                                <b>LOGOUT »</b>
                            </button>
                        </form>
                        <button class="w3-button w3-border" onclick="window.location.href='/register.html';"
                                th:unless="${has_signed_in}">
                            <b>SIGN UP »</b>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="w3-col m12 l6 w3-margin-top">
            <div class="w3-card-4 w3-white">
                <img src="https://www.w3schools.com/w3images/workshop.jpg" style="width:100%"
                     th:src=@{/image/workshop.jpg}>
            </div>
        </div>


    </div>


</div>
</body>

</html>