<!DOCTYPE html>
<html>

<head>
    <title>SigDict - My Account</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" th:href=@{/css/w3.css}>
</head>


<body class="w3-light-grey">

<!-- container -->
<div class="w3-content" style="max-width:500px">
    <!-- Header -->
    <div class="w3-container w3-center w3-padding-48">
        <h1><b>Welcome to <a href="/index.html">SigDict</a></b></h1>
        <p>A modern solution for managing <span class="w3-tag"><b>digital signature</b></span></p>
    </div>
</div>

<!-- container -->
<div class="w3-content" style="max-width:1000px">

    <div class="w3-card-4 w3-white">
        <img src="https://www.w3schools.com/w3images/bridge.jpg" style="width:100%" th:src=@{/image/bridge.jpg}>
    </div>


    <div class="w3-card-4 w3-white w3-margin-top w3-padding-16 w3-container">
        <div class="w3-container">
            <h3>
                <b>Account Information</b>
            </h3>
            <div class="w3-row w3-margin-top">
                <div class="w3-col m2">
                    <b>Username:</b>
                </div>
                <div class="w3-col m2">
                    <span th:text="${username}"></span>
                </div>
            </div>

            <div class="w3-row w3-margin-top">
                <div class="w3-col m2">
                    <b>Email:</b>
                </div>
                <div class="w3-col m2">
                    <span th:text="${email}"></span>
                </div>
                <div class="w3-col m8 w3-right">
                    <span class="w3-right" th:if="${email_verified}"><b>VERIFIED ✅</b></span>
                    <a class="w3-right" href="#" th:unless="${email_verified}"><b>VERIFY YOUR EMAIL ADDRESS »</b></a>
                </div>
            </div>

            <div class="w3-row w3-margin-top">
                <div class="w3-col m2">
                    <b>DSA Public Key:</b>
                </div>
                <div class="w3-col m10">
                    <a class="w3-right" onclick="show_hide('dsa_pubkey', 'show_hide_btn_dsa')"
                       style="cursor:pointer;text-decoration:underline;"><b
                            id="show_hide_btn_dsa">SHOW »</b></a>
                </div>
            </div>

            <div class="w3-hide" id="dsa_pubkey">
                <p style="word-wrap:break-word">
                    <span th:text="${dsa_pubkey}"></span>
                </p>
            </div>

            <div class="w3-row w3-margin-top">
                <div class="w3-col m2">
                    <b>RSA Public Key:</b>
                </div>
                <div class="w3-col m10">
                    <a class="w3-right" onclick="show_hide('rsa_pubkey', 'show_hide_btn_rsa')"
                       style="cursor:pointer;text-decoration:underline;"><b
                            id="show_hide_btn_rsa">SHOW »</b></a>
                </div>
            </div>

            <div class="w3-hide" id="rsa_pubkey">
                <p style="word-wrap:break-word">
                    <span th:text="${rsa_pubkey}"></span>
                </p>
            </div>

            <div class="w3-row">
                <div class="w3-col m3 s12 w3-center">
                    <p>
                        <button class="w3-button w3-white w3-border" style="width:210px;"><b>CHANGE KEY</b></button>
                    </p>
                </div>
                <div class="w3-col m3 s12 w3-center">
                    <p>
                        <button class="w3-button w3-white w3-border" style="width:210px;"><b>CHANGE PASSWORD</b>
                        </button>
                    </p>
                </div>
                <div class="w3-col m3 s12 w3-center">
                    <p>
                        <button class="w3-button w3-white w3-border" style="width:210px;"><b>CHANGE EMAIL</b></button>
                    </p>
                </div>
                <div class="w3-col m3 s12 w3-center">
                    <p>
                    <form method="post" th:action="@{/logout}">
                        <button class="w3-button w3-white w3-border" style="width:210px;"><b>LOG OUT</b></button>
                    </form>
                    </p>
                </div>
            </div>


        </div>


    </div>

    <div class="w3-card-4 w3-white w3-margin-top w3-padding-16 w3-container">
        <div class="w3-container">
            <h3>
                <b>File List</b>
            </h3>
            <input class="w3-input w3-border w3-padding" id="search_bar" onkeyup="filter_search()"
                   placeholder="Search for filenames.."
                   type="text">

            <table class="w3-table-all w3-margin-top" id="file_table">
                <tr>
                    <th style="width:40%;">Filename</th>
                    <th style="width:20%;">Upload Time</th>
                    <th style="width:14%;"></th>
                    <th style="width:13%;"></th>
                    <th style="width:13%;"></th>
                </tr>
                <tr th:each="file: ${files}">
                    <td th:text="${file.filename}"/>
                    <td th:text="${file.date}"/>
                    <td class="w3-center">
                        <a th:href="@{'/download?identifier=' + ${file.identifier}}">
                            <b>DOWNLOAD</b>
                        </a>
                    </td>
                    <td class="w3-center">
                        <a th:href="@{'/delete?identifier=' + ${file.identifier}}">
                            <b>DELETE</b>
                        </a>
                    </td>
                    <td class="w3-center">
                        <a th:href="@{'/detail?identifier=' + ${file.identifier}}">
                            <b>DETAIL »</b>
                        </a>
                    </td>
                </tr>
            </table>

        </div>
        <div class="w3-container">
            <p>
                In total, you have <b th:text="${file_number}"></b> files.
            </p>
            <div class="w3-row w3-right">
                <div class="w3-col">
                    <p>
                    <form method="get" th:action="@{/upload.html}">
                        <button class="w3-button w3-white w3-border" style="width:210px;"><b>UPLOAD FILE</b></button>
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    function show_hide(id_block, id_btn) {
        var x = document.getElementById(id_block);
        var y = document.getElementById(id_btn);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            y.innerHTML = "HIDE »"
        } else {
            x.className = x.className.replace(" w3-show", "");
            y.innerHTML = "SHOW »"
        }
    }
</script>
<script>
    function filter_search() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("search_bar");
        filter = input.value.toUpperCase();
        table = document.getElementById("file_table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

</html>